/* 전체 스크롤   */
#content{
	height: 650px;  
	overflow-y:scroll;
}


/* 테이블 */
#table-assetsRegister th{
	padding-left: 13px;
	padding-top: 13px;
 	background-color: #F6F6F6;
 }
 #table-assetsRegister{
 background-color: #fff!important;
 }
 .margin-customer{
 	/* margin-top: 38px !important; */
 	margin-bottom: 30px !important;
 }
 .border-table{
	border-width: 1px;
	border-style: solid;
	border-color: #CCC!important;
 }
 .no-padding-bottom{
 	padding-bottom: 0px!important;
 }
 .jarviswidget>div{
  	border-width: 1px;
	border-style: solid;
	border-right-color: #CCC !important;
 }
 .no-border-bottom-else{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
  	border-bottom: 0px !important;
 }
 #widget-grid .dt-bottom-row{
	border-top: 0px !important;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
  	border-bottom: 2px solid #ddd;
 }
 .jarviswidget>div{
 	border-top: 1px solid #ddd !important;
 }
 th:first-child{  
 background-image: none !important;
 }

 tfoot{
 	display: none;
 }
 /* th, tr td:first-child{
	text-align: center !important; 
} */


 
 /* 선택 버튼  */
 #order-form fieldset{
 	padding-top: 0px !important;
 	padding-bottom: 0px !important;
 }
 #order-form section{
 	margin-bottom: 0px !important;
 }
 #order-form, #order-form fieldset{
 	height: 30px;
 }
 #table-assetsRegister .dropdown{
 	padding-left: 13px;
 	padding-right: 13px;
 }
 .sorting_asc, .sorting_desc{
 	padding-right: 8px!important;
 }
 
 
 
 
 /* 테이블 상단의 액션(검색, 글작성, 추가) 버튼  */
 .widget-body-toolbar .btn-primary{
	float: right;
	/* position: absolute;
	top: 4px;
	right: 10px; */
} 
.dataTables_length{
	margin-right: 100px;
}
.widget-body-toolbar{
	padding-top: 3px !important; 
}
.process h4{ 
	float: left;
	margin-top: 100px;
}
 .bt-bar-group i{
	 margin-right: 5px; 
 }
 .bt-bar-group{
 	margin-top: 10px;
 }
.bt-bar-group .btn-right{
	float: right;
	margin-bottom: 10px;
}
.bt-bar-bottom .btn-bottom{
	
	float: right;
}
.bt-float{
	float: right;
}
#widget-grid .dataTables_filter{
	display: none;
}
.margin-customer-bottom{
 	margin-bottom: 10px !important;
 }



 
 /* 상단 메뉴 경로 */
 .content-top-menu{
 	float: right;
 }
.content-top-menu ul li{
	text-decoration: none;
	color: black;
	list-style: none;
}
.content-top-menu ul>li{
	display: inline;
} 
.content-top-menu ul a:link{
	text-decoration: none;
}
.content-top-menu ul a{
	color: gray;
}
.content-top-menu ul .activ{
	color: blark;
}






/* 조회 -> 모달창 */
.modal-body fieldset{
	height: 260px;
	overflow-y:scroll;
	
}
.modal-body table{
	width: 560px !important;
}
/* 모달창 테이블  */
#dt_basic_modal{
	width: 577px !important;
}
#dt_basic_modal_length{
	margin-right: 0px!important;
}
#modal-content{
	padding: 10px;
}
#modal-content > div{
	margin-bottom: 0px !important;
}
#modal-content footer > button{
	margin-top: 10px;
	margin-left: 8px;
	float: right;
}
.modal-content h4{
	margin-bottom: 12px; 
} 
.h-title{
	padding-left: 10px;
	margin-bottom: 10px;
	background: url("../image/modal_title_icon.png") no-repeat left center #ffffff;
}




/*  통계 차트  */
.process{
	width: 100%;
	height: 130px; 
}
.process .list-inline{
	float: right;
}
.box-group{
	border: 1px solid #d9d9d9;
	border-radius: 10px;
}

.box-group .box-header {
	text-align: center;
	font-weight: bold;
	font-size: 9pt;
	border-bottom: 1px solid #d9d9d9;
}
.box-group > div{
	padding: 3px;
}
.box-container div{
	margin: 3px;
}
.list-inline{
	margin-bottom: 0px !important;
}
hr{
	width: 100%;
}
.color-orange{
	color: rgb(248, 148, 6);
}
.color-gray{
	color: rgb(169, 169, 169);
}
.color-blue{
	color: rgb(58, 135, 173);
}
.font-bold{
	font-weight:bold;
}